# Data Management

In [1]:
import pandas as pd
import numpy as np
from datetime import datetime as dt
import matplotlib.pyplot as plt
import seaborn as sns

### Importer les données

In [2]:
customers = pd.read_csv("Data/olist_customers_dataset.csv")
geolocation = pd.read_csv("Data/olist_geolocation_dataset.csv")
order_items = pd.read_csv("Data/olist_order_items_dataset.csv")
order_payments = pd.read_csv("Data/olist_order_payments_dataset.csv")
order_reviews = pd.read_csv("Data/olist_order_reviews_dataset.csv")
orders = pd.read_csv("Data/olist_orders_dataset.csv")
products = pd.read_csv("Data/olist_products_dataset.csv")
sellers = pd.read_csv("Data/olist_sellers_dataset.csv")
translations = pd.read_csv("Data/product_category_name_translation.csv")

### Traitement sur la table orders

In [3]:
orders['order_approved_at'] = pd.to_datetime(orders['order_approved_at']) # Convertir en format datetime
orders['order_approved_at'] = orders['order_approved_at'].dt.date         # Enlever heure/minutes/secondes

orders["order_approved_at"] = pd.to_datetime(orders["order_approved_at"])
orders["order_approved_at"] = orders["order_approved_at"].dt.date

orders["order_delivered_customer_date"] = pd.to_datetime(orders["order_delivered_customer_date"])
orders["order_delivered_customer_date"] = orders["order_delivered_customer_date"].dt.date

orders["order_estimated_delivery_date"] = pd.to_datetime(orders["order_estimated_delivery_date"])
orders["order_estimated_delivery_date"] = orders["order_estimated_delivery_date"].dt.date

orders["order_purchase_timestamp"] = pd.to_datetime(orders["order_purchase_timestamp"])
orders["order_purchase_timestamp"] = orders["order_purchase_timestamp"].dt.date

Nouvelles variables : 
- Temps de livraison estimé
- Retard ou avance par rapport a la date de livraison estimé

In [4]:
orders["temps_estim"] = orders["order_estimated_delivery_date"] - orders["order_approved_at"]
orders["retard_avance"] = orders["order_estimated_delivery_date"] - orders["order_delivered_customer_date"]

In [5]:
orders.isna().sum() 
# 2965 NA pour retard avance donc on les remplace par des 0 : on assume que la date estimée est la date effective de livraison

order_id                            0
customer_id                         0
order_status                        0
order_purchase_timestamp            0
order_approved_at                 160
order_delivered_carrier_date     1783
order_delivered_customer_date    2965
order_estimated_delivery_date       0
temps_estim                       160
retard_avance                    2965
dtype: int64

In [6]:
orders_bis = orders[["order_id", "order_status","temps_estim","retard_avance"]] # Sélection des variables intéressantes
orders_bis.retard_avance = orders_bis.retard_avance.fillna(pd.to_timedelta("0 days 00:00:00")) # remplacer par 0 (pas de retard, pas d'avance)
orders_bis = orders_bis.dropna().merge(order_items)

C:\Users\33633\Anaconda3\lib\site-packages\pandas\core\generic.py:5208: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

### Traitement sur la table order_reviews

In [7]:
# Enlever les reviews qui se répètent.
order_reviews = order_reviews.drop_duplicates(["review_id"], keep='first')

In [8]:
# Nouvelle variable : taille du commentaire
order_reviews["review_comment_message"] = order_reviews["review_comment_message"].fillna('') # compléter avec des string vides lorsque Nan
order_reviews["taille_com"] = order_reviews["review_comment_message"].str.len()

In [9]:
# Une même commande avec plusieurs produits contient toujours un seul même produit
# order_items.groupby("order_id")["order_item_id"].count().sort_values()

In [10]:
# Exemple d'une commande qui plusieurs produits étant les mêmes.
same_product = order_items.where(order_items["order_id"] == "1b15974a0141d54e36626dca3fdc731a").dropna()

__Table 1 : Une ligne = Un produit avec ses caractéristiques (prix, frais de livraison, score moyen, taille moyenne du commentaire, temps moyen estimé de livraison, retard moyen ou avance moyenne sur la date de livraison)__

In [11]:
product_info = (orders_bis
                .merge(order_reviews, how='inner') # Inner pour garder les produits pour lesquels on a le prix + le commentaire
                .drop(["review_comment_title"], axis=1)
                .groupby('product_id')
                .agg(
                    {
                        "price": "mean",
                        "freight_value": "mean",
                        "review_score": "mean", 
                        "taille_com":"sum",
                        "temps_estim":pd.Series.mean,
                        "retard_avance":pd.Series.mean
                    })
                .reset_index()
               )

In [12]:
product_info.head()

,product_id,price,freight_value,review_score,taille_com,temps_estim,retard_avance
0,00066f42aeeb9f3007548bb9d3f33c38,101.65,18.59,5.0,0,31 days,14 days 00:00:00
1,00088930e925c41fd95ebfe695fd2655,129.90,13.93,4.0,0,24 days,13 days 00:00:00
2,0009406fd7479715e4bef61dd91f2462,229.00,13.10,1.0,43,25 days,10 days 00:00:00
3,000b8f95fcb9e0096488278317764d19,58.90,19.60,5.0,210,20 days,13 days 12:00:00
4,000d9be29b5207b54e86aa1b1ac54872,199.00,19.27,5.0,40,27 days,20 days 00:00:00

__Table 2 : Table finale__

In [13]:
table_finale = (orders
                .merge(order_items)
                .merge(order_reviews)
                # Ventes par produit PAR MOIS
                .groupby(['product_id',pd.to_datetime(pd.to_datetime(orders['order_purchase_timestamp']).dt.strftime('%m-%Y'))]) 
                .agg({
                    "price": "mean", 
                    "freight_value": "mean",
                    "review_score": "mean", 
                    "taille_com":"sum",
                    "temps_estim":pd.Series.mean,
                    "retard_avance":pd.Series.mean,
                    "order_id":"count"
                })
                .reset_index()
                .rename({"order_id":"nb_ventes"}, axis=1)
               )

In [14]:
table_finale.isna().sum()

product_id                     0
order_purchase_timestamp       0
price                          0
freight_value                  0
review_score                   0
taille_com                     0
temps_estim                    9
retard_avance               1587
nb_ventes                      0
dtype: int64

In [15]:
table_finale["retard_avance"] = table_finale["retard_avance"].fillna(pd.to_timedelta("0 days 00:00:00")) # retard_avance = 0 si NAN

Calculer une moyenne cumulée selon la date de la commande pour :
- la taille moyenne du commentaire
- le score moyen d'un produit

In [16]:
table_finale["count_index"] = 1
table_finale["count_index"] = (table_finale
                               .groupby(["product_id"])["count_index"]
                               .transform(lambda x: x.cumsum())
                              )

In [17]:
# Moyenne cumulée de la taille d'un commentaire
table_finale["cummean_taille_com"] = (table_finale
                                      .groupby(["product_id"])["taille_com"]
                                      .transform(lambda x: x.cumsum()) / table_finale["count_index"]
                                     )

In [18]:
# Moyenne cumulée du score moyen d'un commentaire
table_finale["cummean_review_score"] = (table_finale
                                        .groupby(["product_id"])["review_score"]
                                        .transform(lambda x: x.cumsum()) / table_finale["count_index"]
                                       )

In [19]:
table_finale = (table_finale
                .merge(products)
                .dropna()
                .sort_values(by="order_purchase_timestamp")
                .reset_index()
               )
table_finale = table_finale.drop(["index", "count_index"], axis=1)

In [20]:
table_finale.temps_estim = table_finale.temps_estim.dt.days # convert timestamp into int
table_finale.retard_avance = table_finale.retard_avance.dt.days # négatif = retard, positif = avance

In [21]:
table_finale.head()

,product_id,order_purchase_timestamp,price,freight_value,review_score,taille_com,temps_estim,retard_avance,nb_ventes,cummean_taille_com,cummean_review_score,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,07bcd890d449e493b4ec23d05a9e40ee,2016-09-01,28.90,18.23,5.0,0,48,34,1,0.0,5.0,esporte_lazer,34.0,237.0,3.0,800.0,30.0,15.0,20.0
1,aca11cfc608a458947b3038e5e70312f,2016-09-01,49.90,15.56,5.0,18,25,16,1,18.0,5.0,utilidades_domesticas,58.0,668.0,2.0,700.0,25.0,15.0,60.0
2,1fce7b244f4a45431713165a869f5f32,2016-09-01,146.21,19.99,1.0,56,24,6,1,56.0,1.0,perfumaria,56.0,1420.0,2.0,575.0,16.0,22.0,16.0
3,a50acd33ba7a8da8e9db65094fa990a4,2016-09-01,117.30,31.96,5.0,0,21,4,1,0.0,5.0,automotivo,53.0,555.0,1.0,4105.0,67.0,10.0,67.0
4,5237739bb5fee495dbd337755a138660,2016-10-01,1549.00,26.05,4.0,0,26,19,1,0.0,4.0,relogios_presentes,39.0,600.0,3.0,645.0,19.0,16.0,18.0

In [22]:
table_finale.isna().sum()

product_id                    0
order_purchase_timestamp      0
price                         0
freight_value                 0
review_score                  0
taille_com                    0
temps_estim                   0
retard_avance                 0
nb_ventes                     0
cummean_taille_com            0
cummean_review_score          0
product_category_name         0
product_name_lenght           0
product_description_lenght    0
product_photos_qty            0
product_weight_g              0
product_length_cm             0
product_height_cm             0
product_width_cm              0
dtype: int64

Transformer la variable de catégorie de produit en dummies:

In [23]:
table_finale = pd.get_dummies(table_finale, columns=["product_category_name"])

In [24]:
# Drop the observations before nov 2017 and after sept 2018 because of the effect of introduction of a technologie
mask = ((table_finale['order_purchase_timestamp'] > pd.Timestamp('2017-11-01 00:00:00')) & (table_finale['order_purchase_timestamp'] < pd.Timestamp('2018-09-01 00:00:00')) ) 
table_finale = table_finale[mask]

Retirer les produits qui ont été vendu une seule fois

In [25]:
def filter_by_freq(df: pd.DataFrame, column: str, min_freq: int) -> pd.DataFrame:
    """Filters the DataFrame based on the value frequency in the specified column.
    :param df: DataFrame to be filtered.
    :param column: Column name that should be frequency filtered.
    :param min_freq: Minimal value frequency for the row to be accepted.
    :return: Frequency filtered DataFrame.
    """
    # Frequencies of each value in the column.
    freq = df[column].value_counts()
    # Select frequent values. Value is in the index.
    frequent_values = freq[freq > min_freq].index
    # Return only rows with value frequency above threshold.
    return df[df[column].isin(frequent_values)]

In [26]:
table_finale_filtered = filter_by_freq(table_finale, "product_id", 1)

### Assigner chaque produit aux 9 mois présent sur la période (même si non vendus)

In [27]:
data = (table_finale_filtered
        .set_index(["product_id","order_purchase_timestamp"])
        .unstack()
        .stack(dropna=False)
        .reset_index())

In [28]:
col_to_fill = [col for col in data if col != "nb_ventes"]

In [29]:
data.loc[:,col_to_fill] = data.loc[:,col_to_fill].groupby("product_id").fillna(method="ffill").fillna(method="bfill")

In [30]:
data.isna().sum()

product_id                                        73791
order_purchase_timestamp                              0
price                                                 0
freight_value                                         0
review_score                                          0
                                                  ...
product_category_name_sinalizacao_e_seguranca         0
product_category_name_tablets_impressao_imagem        0
product_category_name_telefonia                       0
product_category_name_telefonia_fixa                  0
product_category_name_utilidades_domesticas           0
Length: 91, dtype: int64

In [31]:
data.nb_ventes = data.nb_ventes.fillna(0)

In [32]:
data.product_id = np.repeat(table_finale_filtered.product_id.unique(), 9)

## ADD cross products and squared variables

In [33]:
from itertools import combinations

In [34]:
cross_var =  [col for col in data if not col.startswith('product_category')] # Liste de variables sans les catégories (dummies)

In [35]:
squared_variables = ((data[cross_var].drop("nb_ventes",axis=1).select_dtypes(include = np.number))**2).add_suffix('_2')

In [36]:
data_sq_cross = pd.concat([data, squared_variables], axis=1)

In [37]:
cross_products = []
cross_products.append(list(combinations((data[cross_var].drop("nb_ventes",axis=1).select_dtypes(include = np.number)).columns,2))) # liste des couples de variables à croiser sans la variable y (ventes)et sans les carrés
# sans list, l'objet a un type bizarre (itertools)

In [38]:
for j in range(len(cross_products[0])): # Nombre de couples total
    var_name = [str(cross_products[0][j])[2:-2].replace("', '","_x_")] # liste à un élément avec le nouveau nom de la variable croisée
    data_sq_cross[var_name[0]] = data[cross_products[0][j][0]] * data[cross_products[0][j][1]] # Remplir le dataframe X avec les produits croisés

### Exporter les tables

In [43]:
data.to_csv("preprocessed_data/data.csv",index=False)

In [44]:
data_sq_cross.to_csv("preprocessed_data/data_sq_cross.csv", index=False)